* {
    box-sizing: border-box;
  }
html {
    font-family: 'Biryani', sans-serif;
    background-color: #e6ddde
}

h1 {
    color: #654a4e;
    font-size: 4.5rem
}

input {
    padding: 0.5rem;
}

form {
    font-size: 1.5rem;
    font-weight: 600;
}

.container {
    margin: 3rem;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

.padding {
    margin: 0rem 1rem 1rem 1rem;
    font-size: 1.5rem;
}

.calcButton {
    background-color: rgb(71, 27, 10);
    color: rgb(255, 255, 255);
    margin-left: 1rem;
    font-size: 1.5rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.deleteButton {
    height: 2rem;
    width: 5rem;
    color: rgb(255, 255, 255);
    background-color: rgb(81, 35, 18);
    margin-top: 1.5rem;
}


table {
    background-color: white;
    border: 1px solid black;
    width: 75%;
    font-size: 1.5rem;
}

th {
    padding: 0.5rem;
}

td {
    padding: 1rem;
    border: 2px solid gainsboro;
}

.boldTd {
    font-style: bold;
    border: 2px solid rgb(164, 201, 148);

}

tr:hover {
    background-color: #f5f5f5;
}

::-webkit-input-placeholder {
    font-style: italic;
}

@media (max-width: 1440px) {
    .instructions{
        font-size: 16px;
    }
    .header {
        font-size: 50px;
    }
    .results {
        font-size: 10px;
    }
  }